# Django Settings
SECRET_KEY=35c449f8c8cdd048c40b53d0a6faef19ad61e0a3b599bfc198a8e63488a200d33765f59d32fdc4f93daef68597724526703c
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL Settings
POSTGRES_DB=pactum_db
POSTGRES_USER=pactum_user
POSTGRES_PASSWORD=pactum_password
DATABASE_URL=postgres://pactum_user:pactum_password@db:5432/pactum_db
